#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;

  background: rgb(252, 253, 252);
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);

  overflow: hidden;
}

#app .container-view {
  padding: 0 20px 20px 20px;
  height: 80%;
  overflow-y: scroll;
}

.call-container {
  border: 1px solid rgb(176,176,176);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 15px;
  color: rgb(186,186,186);
}

.call-container:hover {
  cursor: pointer;
  background-color: rgb(247,247,247);
}

.call-info {
  width: 100%;
  padding: 0.5rem;
}

.call-container p {
  margin: 0;
}

.call-container strong {
  color: rgba(0, 0, 0);
}

.archive {
  border: 1px solid rgb(176,176,176);
  border-top: white;
  padding: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: rgb(64, 64, 64);
  
  display: flex;
  align-items: center;
}

.archive a {
  padding: 0 1rem;
}

.archive:hover {
  cursor: pointer;
  background-color: rgb(247,247,247);
}
.date-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dot {
  flex-grow: 1;
  border-bottom: 2px dotted rgb(176,176,176);
}