.main-header {
  height: 30px;
  margin: 0 auto;
  padding: 20px 0;
  padding-top: 0;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
}

header svg {
  display: block;
  width: 45%; 
  height: 100%;
  padding: 0 1rem;
}

#bg {
  width:200px;
  height:50px;
  overflow:hidden;
  position:relative;
}
#bg-top {
  position:absolute;
  top:0px;left:0px;
  width:70%;
  height:50%;
  background:rgb(242,242,242);
  z-index: -1;
}

#top {
  position:absolute;
  background:rgb(242, 242, 242);
  top:0px;
  left:-90px;
  width:200px;
  height:50px;
  border-radius:100px;
  z-index: -1;
}

#bottom {
  position:absolute;
  background:white;
  top:0px;
  left:110px;
  width:50px;
  height:50px;
  border-radius:100px
}

.header-nav {
  display: flex;
  height: 100%;
  width: 200px;
  padding: 10px;
  font-size: .8rem;

  justify-content: flex-end;

  align-items: center;
}
.header-nav svg{
  padding: 0;
}

.header-nav div {
  margin: 0 10px;
  padding: 1rem 0.5rem;
  
}

.header-nav div:hover {
  cursor: pointer;
  border-bottom: 5px solid rgba(255, 0, 0, 0.75) ;
}